{% extends 'new_base.html' %}

{% block extra_style %}

.certificates-section{
  margin: auto;
  margin-top: 60px;
  width: 80%;
  height: 350px;;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 5px solid blue;
  border-radius: 15px;
}

 .certificates-tittle{
  position: relative;
  bottom: 10px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  align: center;
  margin:0;
}

div.gallery {
  padding-bottom: 0px;
  margin: 0px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.zoom {
  padding: 20px;
  transition: transform .2s;
  width: 100%;
  height: 300px;
  margin: auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.responsive {
  padding: 0;
  float: left;
  width: 24.99999%;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 0;
padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
{% endblock %}

{% block content %}
<div class="certificates-section">

  <h2 class="certificates-tittle">Certificates Gallery</h2>
  {%load static %}
  <div class="responsive">
    <div class="zoom">
      <div class="gallery">
        <a href="{% static 'images/Aneesh profile picture.jpg' %}" target="_blank">
          <img alt="Certificate" src="{% static 'images/Aneesh profile picture.jpg' %}">
        </a>
        <h2 align="center" style="padding-bottom:2px;padding-top:8px;color:white;"> Bachelors</h2>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="zoom">
      <div class="gallery">
        <a href="{% static 'images/Aneesh profile picture.jpg' %}" target="_blank">
        <img alt="Cinque Terre" src="{% static 'images/Aneesh profile picture.jpg' %}">
        </a>
        <h2 align="center" style="padding-bottom:2px;padding-top:8px;color:white;"> Bachelors</h2>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="zoom">
      <div class="gallery">
        <a href="{% static 'images/Aneesh profile picture.jpg' %}" target="_blank">
          <img alt="Cinque Terre" src="{% static 'images/Aneesh profile picture.jpg' %}">
        </a>
        <h2 align="center" style="padding-bottom:2px;padding-top:8px;color:white;"> Bachelors</h2>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="zoom">
      <div class="gallery">
        <a href="{% static 'images/Aneesh profile picture.jpg' %}" target="_blank">
          <img alt="Cinque Terre" src="{% static 'images/Aneesh profile picture.jpg' %}">
        </a>
        <h2 align="center" style="padding-bottom:2px;padding-top:8px;color:white;"> Bachelors</h2>
      </div>
    </div>
  </div>

</div>
{% endblock %}