{% extends 'new_base.html' %}

{% block content %}
    <h2>About me</h2>
                <p> Hard working and reliable individual who is focused on just getting the first job in software industry where I can learn and also contribute to the organizations goals regardless of personal financial benefits.

                    .In-depth knowledge in coding, error detection and formatting of all areas of C and C++ programming language with an enormous practical knowledge attained through academic projects and assignments

                    .Fair amount of Java programming experience which covered all the major programming modules of java achieved through academic projects backed up by a Java specialized software development diploma certificate from NIIT

                    .Intermediate level knowledge of SQL and HTML which can be elevated to expert level with a short period of time

                    .Good theoretical knowledge on Database management and networking fundamentals attained through academics

                    .Beginner level knowledge in Angular Js framework and AWS cloud platform obtained as a result of frequent learning of new technologies with the help of online tools

                    .Basic Android application development experience with eclipse which got appreciated with the best innovative project among academic projects

                    .Passion for learning new technologies has now taken me to path of getting expertise in Python programming.

                </p>

{% endblock %}