{% extends 'new_base.html' %}
{% block extra_style %}

.about-section{
margin: auto;
margin-top: 10px;
width: 80%;
height: 100%;
}

.about-tittle{
position: relative;
bottom: 10px;
color: white;
padding-left: 20px;
padding-top: 20px;
margin:0;
}

@media screen only and (max-width:600px) {
  .about-section {
    width: 98%;
    height:280px;
    margin: auto;
    padding: 0px;
  }
}

{% endblock %}
{% block content %}
<div class="about-section">
    <h2 class="about-tittle">About me</h2>
    <p> Hard working and reliable individual who is focused on just getting the first job in software industry where I
        can learn and also contribute to the organizations goals regardless of personal financial benefits.

        .In-depth knowledge in coding, error detection and formatting of all areas of C and C++ programming language
        with an enormous practical knowledge attained through academic projects and assignments

        .Fair amount of Java programming experience which covered all the major programming modules of java achieved
        through academic projects backed up by a Java specialized software development diploma certificate from NIIT

        .Expert level knowledge of HTML, CSS and SQL which can be elevated to expert level with a short period of time

        .Good theoretical knowledge on Database management and networking fundamentals attained through academics

        .Beginner level knowledge in Angular Js framework and AWS cloud platform obtained as a result of frequent
        learning of new technologies with the help of online tools

        .Basic Android application development experience with eclipse which got appreciated with the best innovative
        project among academic projects

        .Passion for learning new technologies has now taken me to path of getting expertise in Python programming.

    </p>
</div>


{% endblock %}