{% extends 'new_base.html' %}

{% block extra_style %}
    div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  padding-top: 0px;
  text-align: center;
  color: white;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-button{
  display: flex;
  justify-content: center;
  align-items: center;
padding:3px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
{% endblock %}

{% block content %}
    <h2>Recent Projects</h2>
    {%load static %}
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Aneesh profile picture.jpg' %}">
      <img src="{% static 'images/Aneesh profile picture.jpg' %}" alt="Cinque Terre" width="600" height="400">
    </a>
    <h2 align="center" style="padding-bottom:2px;"> Bachelors</h2>
    <div class="desc">
      <p style="padding:3px;padding-top:1px;">this is where description comes</span>
      </p>
    </div>
    <div class="read-more-button">
      <button onclick="window.location.href='/portfolio/project_1';">Read more</button>
    </div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Aneesh profile picture.jpg' %}">
      <img src="{% static 'images/Aneesh profile picture.jpg' %}" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Post graduation</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Aneesh profile picture.jpg' %}">
      <img src="{% static 'images/Aneesh profile picture.jpg' %}" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="{% static 'images/Aneesh profile picture.jpg' %}">
      <img src="{% static 'images/Aneesh profile picture.jpg' %}" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<!-- Java script to connect read more button to its function -->
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
{% endblock %}